<launch>

<rosparam file="$(find automated_description)/launch/controller.yaml" command="load"/>
<node args="Rev17_position_controller Rev18_position_controller Rev19_position_controller Rev20_position_controller Rev21_position_controller Rev22_position_controller joint_state_controller " name="controller_spawner" ns="automated" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/automated/joint_states"/>
</node>

</launch>